/* body {  
background: #1D1F20;
padding: 16px;
} */

#line_chart {
    border: 3px solid;    
    width:60%;
    height:200px;
    float: left;
}

#bar_chart{
    border: 3px solid;  
    width:40%;
    float:right;
    height:400px;
}

.canvas_container{
    display: inline;
    background-color: aquamarine;
}

h1{
    width:100%;
    text-align:center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('index.jpg');
    height:100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center;  */
}
