<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
  <link rel="stylesheet" href="./static/style.css"/>
</head>

<body>
    <h1>{{ title }}</h1>
    <div class="chart-container">
        <canvas id="line_chart"></canvas>
    </div>   
    <script>
        // Line chart 
        const line_chart_tag = document.getElementById('line_chart').getContext('2d');
        const line_chart = new Chart(line_chart_tag, {
            type: "line",
            data: {
                labels: [
                    {% for item in labels %}
                        "{{ item }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: "{{ plot_label }}",
                    pointRadius: 4,
                    pointBackgroundColor: "rgb(0,0,255)",
                    data: [
                            {% for item in values %}
                                {{ item }},
                            {% endfor %}
                    ],
                    backgroundColor: [
                        'rgb(230, 255, 255)'
                    ],                 
                    borderWidth: 1,
                }]
            },
            options: {
                // legend: {display: false},
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        line_chart.resize(200,200);
    </script>
</body>
</html>